/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* common */
body{
  background-color: #b91450;
  font-family: sans-serif;
}
/* buttons */
.btn{
  color: #b91450;
  background-color: #ccc;
  padding: 5px;
  font-weight: bold;
  border: 1px solid #9d9d9d;
  border-radius: 3px;
  cursor: pointer;
}
.btn:hover{
  border: 1px solid #e99b56;
  background-color: #aaaaaa;
}


h1,
h2{
  text-align: center;
  color: #fff;
  margin: 30px 0;
}
/* form */
.form-ticket,
.ticket-details{
  max-width: 1000px;
  margin: auto;
  text-align: center;
  padding: 20px 150px;
  background-color: #fff;
}
.form-ticket{
  border-radius: 10px;
  box-shadow: 1px 2px 8px 0px #454545;;
}
.ticket-details{
  display: none;
}
.ticket-details.visible{
  display: block;
}
.form-inputs{
  display: flex;
  justify-content: space-between;
  margin: 0 auto 20px;
}
.form-ticket label{
  display: block;
  margin-bottom: 10px;
  color: #b91450;
}
.form-inputs input,
.form-inputs input:focus-visible,
.form-inputs select,
.form-inputs select:focus-visible{
  border: 1px solid #b91450;
  border-radius: 4px;
  text-align: inherit;
  padding: 5px;
}
.btn#generate{
  margin-right: 30px;
}
/* ticket */
.ticket-details{
  padding: 25px 20px 20px;
  text-align: left;
}
.ticket-details-wrapper{
  display: flex;
}
.passenger-box{
  width: 300px;
  height: 100px;
  padding: 20px;
  background-color: #808080;
}
#passenger-name{
  font-weight: bold;
}
.ticket-table{
  table-layout: fixed;
  width: 100%;
  height: 100px;
  border-top: 1px solid #454545;
  border-bottom: 1px solid #454545;
}
.ticket-table th,
.ticket-table td{
  padding-left: 25px;
}

